<div class="pure-u" id="main">

  <div class="content">

    <div class="hero">
      <h1 class="pure-u-1">Cat News</h1>
      <p>
        The Latest in Reddit Cat News
      </p>
    </div>
  </div> <!-- /content -->

  <div class="content">

<div id="education">
  <div class="header pure-u-1">
    <h1 class="pure-u-1">Education / Training</h1>
  </div>

  <div class="l-box">
    <p>
      2013 - Code School: Git Real, Try JQuery, Discover DevTools<br />
      2012 - Code School: JqueryAir, CSS CrossCountry<br />
      2012 - Ruby on Rails Course, with Avi Flombaum, founder: Flatiron School<br />
      2012 - Stanford University - Computer Sciene 101 via Coursera<br />
      2011 - Code School: Rails for Zombies <br />
      FINRA Series 7 + Series 66 licenses<br />
      New York University - Economics, NYU Scholar<br />
    </p>
  </div>

</div>

  </div> <!-- /content -->

<div class="bottom-decoration-container">
  <div class="bottom-decoration orange">
</div>

  <div class="footer">
    <div class="l-box ">
      <p class="legal-license">
        Meow, meow, meow, meow, Meow, meow, meow, meow...
      </p>
      <p class="legal-copyright">
        
      </p>
    </div>
  </div>