<div class="pure-u" id="main">

  <div class="content">

    <div class="hero">
      <h1 class="pure-u-1">Cat News</h1>
      <p class="sub-header">
        The Latest in Reddit Cat News
      </p>
    </div>

    <div>
      <div class="header pure-u-1">
        <h4 class="pure-u-1 top-stories">Top Reddit Cat Stories:</h4>
      </div>

      <div class="l-box">
        <ul>
          <li></li>
        </ul>
      </div>

    </div>

  </div> <!-- /content -->

<div class="bottom-decoration-container">
  <div class="bottom-decoration blue"></div><div class="bottom-decoration orange"></div>
</div>

  <div class="footer">
    <div class="l-box ">
      <p class="legal-license">
        Meow, meow, meow, meow, Meow, meow, meow, meow...
      </p>
      <p class="legal-copyright">
        
      </p>
    </div>
  </div>