<div class="pure-u" id="main">

  <div class="content">

    <header class="hero">
      <h1 class="pure-u-1">Meow Times</h1>
      <p class="sub-header">
        The Latest in Reddit Cat News
      </p>
    </header>

    <div>
      <div class="header pure-u-1">
        <h4 class="pure-u-1 top-stories">Top Reddit Cat Stories:</h4>
      </div>

      <div class="l-box">
        <ul class="articles">
          <% @articles.each do |x| %>
            <div class="articles-subclass">
              <a href="<%= x.article_url %>"><img src="<%= x.thumbnail %>">
              <div class="article-title"><%= x.title %></div></a>
            </div>
          <% end %>
        </ul>
      </div>

    </div>

  </div> <!-- /content -->

<div class="bottom-decoration-container">
  <div class="bottom-decoration blue"></div><div class="bottom-decoration orange"></div>
</div>

  <div class="footer">
    <div class="l-box ">
      <p class="legal-license">
        Meow meow meow, meow meow meow, meow, meow...
      </p>
    </div>
  </div>