/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *













 */


@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Graduate);
.pure-button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

a:focus {
    outline: none;
}

.pure-button {
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}


.pure-button-hover,
.pure-button:hover {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.05)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
}

.pure-button-active,
.pure-button:active {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-button-hidden {
    display:none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}


/* Sam */
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.pure-button:-moz-focusring {
    outline-color: rgba(0, 0, 0, 0.85);
}
.pure-g-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g-r {
    word-spacing: -0.43em;
}

.pure-g-r img {
    max-width: 100%;
}

@media (min-width:980px) {
    .pure-visible-phone {
        display: none;
    }
    .pure-visible-tablet {
        display: none;
    }
    .pure-hidden-desktop {
        display: none;
    }
}
@media (max-width:480px) {
    .pure-g-r > .pure-u,
    .pure-g-r > [class *= "pure-u-"] {
        width: 100%;
    }
}
@media (max-width:767px) {
    .pure-g-r > .pure-u,
    .pure-g-r > [class *= "pure-u-"] {
        width: 100%;
    }
    .pure-hidden-phone {
        display: none;
    }
    .pure-visible-desktop {
        display: none;
    }
}
@media (min-width:768px) and (max-width:979px) {
    .pure-hidden-tablet {
        display: none;
    }
    .pure-visible-desktop {
        display: none;
    }
}
.pure-g {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
    word-spacing: -0.43em;
}

.pure-u {
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.pure-u-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-5-24,
.pure-u-7-24,
.pure-u-11-24,
.pure-u-13-24,
.pure-u-17-24,
.pure-u-19-24,
.pure-u-23-24 {
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1 {
    display: block;
}

.pure-u-1-2 {
    width: 50%;
}

.pure-u-1-3 {
    width: 33.33333%;
}

.pure-u-2-3 {
    width: 66.66666%;
}

.pure-u-1-4 {
    width: 25%;
}

.pure-u-3-4 {
    width: 75%;
}

.pure-u-1-5 {
    width: 20%;
}

.pure-u-2-5 {
    width: 40%;
}

.pure-u-3-5 {
    width: 60%;
}

.pure-u-4-5 {
    width: 80%;
}

.pure-u-1-6 {
    width: 16.656%;
}

.pure-u-5-6 {
    width: 83.33%;
}

.pure-u-1-8 {
    width: 12.5%;
}

.pure-u-3-8 {
    width: 37.5%;
}

.pure-u-5-8 {
    width: 62.5%;
}

.pure-u-7-8 {
    width: 87.5%;
}

.pure-u-1-12 {
    width: 8.3333%;
}

.pure-u-5-12 {
    width: 41.6666%;
}

.pure-u-7-12 {
    width: 58.3333%;
}

.pure-u-11-12 {
    width: 91.6666%;
}

.pure-u-1-24 {
    width: 4.1666%;
}

.pure-u-5-24 {
    width: 20.8333%;
}

.pure-u-7-24 {
    width: 29.1666%;
}

.pure-u-11-24 {
    width: 45.8333%;
}

.pure-u-13-24 {
    width: 54.1666%;
}

.pure-u-17-24 {
    width: 70.8333%;
}

.pure-u-19-24 {
    width: 79.1666%;
}

.pure-u-23-24 {
    width: 95.8333%;
}
.pure-menu ul {
    position: absolute;
    visibility: hidden;
}

.pure-menu.pure-menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.pure-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.pure-menu > ul { position: relative; }

.pure-menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.pure-menu li { position: relative; }

.pure-menu a, .pure-menu .pure-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.pure-menu.pure-menu-horizontal > .pure-menu-heading {
    display: inline-block;
    margin: 0;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}
.pure-menu.pure-menu-horizontal > ul {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.pure-menu li a { padding: 5px 20px; }

.pure-menu-can-have-children > .pure-menu-label:after {
    content: '\25B8';
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif; /* These specific fonts have the Unicode char we need. */
    margin-right: -20px;
    margin-top: -1px;
}

.pure-menu-can-have-children > .pure-menu-label {
    padding-right:30px;
}

.pure-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.pure-menu-hidden { display: none; }

/* FIXED MENU */
.pure-menu-fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}


/* HORIZONTAL MENU CODE */

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

/* Submenus should still be display:block; */
.pure-menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.pure-menu-horizontal > .pure-menu-children > .pure-menu-can-have-children > .pure-menu-label:after {
    content: "\25BE";
}
/*Add extra padding to elements that have the arrow so that the hover looks nice */
.pure-menu-horizontal > .pure-menu-children > .pure-menu-can-have-children > .pure-menu-label {
    padding-right:30px;
}

.pure-paginator {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pure-paginator li {
    display: inline-block;
    *display: inline;
    /* IE 7 inline-block hack */
    *zoom: 1;
    margin: 0 -0.35em 0 0;
}
.pure-paginator .pure-button {
    border-radius: 0;
    padding: 0.8em 1.4em;
    vertical-align: top;
    height: 1.1em;
}
.pure-paginator .pure-button:focus {
    outline-style: none;
}
.pure-paginator .prev, .pure-paginator .next {
    color: #C0C1C3;
    text-shadow: 0px -1px 0px rgba(0,0,0, 0.45);
}
.pure-paginator .prev {
    border-radius: 2px 0 0 2px;
}
.pure-paginator .next {
    border-radius: 0 2px 2px 0;
}
/* RESPONSIVE */


@media (max-width: 480px) {

    .pure-menu-horizontal {
        width:100%;
    }

    .pure-menu-children li {
        display: block;
        border-bottom:1px solid block;
    }

}
/* MAIN MENU STYLING */


.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: #ffffff; /* Old browsers */
    border: 1px solid #b7b7b7;
}

/* remove borders for horizontal menus */
.pure-menu.pure-menu-horizontal, .pure-menu.pure-menu-horizontal .pure-menu-heading {
    border: none;
}



/* LINK STYLES */

.pure-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.pure-menu a,
.pure-menu .pure-menu-can-have-children > li:after {
    color: #777;
}

.pure-menu .pure-menu-can-have-children > li:hover:after {
    color: #fff;
}



/* HOVER STATES */
.pure-menu li a:hover {
    background: #eee;
}

/* DISABLED STATES */
.pure-menu li.pure-menu-disabled a:hover {
    background: #fff;
    color: #bfbfbf;
}

.pure-menu .pure-menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.pure-menu .pure-menu-disabled > a,
.pure-menu .pure-menu-can-have-children.pure-menu-disabled > a:after {
    color: #bfbfbf;
}

/* HEADINGS */
.pure-menu .pure-menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size:90%;
    margin-top:0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;
}

/* ACTIVE MENU ITEM */
.pure-menu .pure-menu-selected a {
    color: #000;
}

/* FIXED MENU */
.pure-menu.pure-menu-open.pure-menu-fixed {
    border: none;
    border-bottom: 1px solid #b7b7b7;
}
/* THIS FILE IS GENERATED BY A BUILD SCRIPT - DO NOT EDIT! */

.pure article,
.pure aside,
.pure details,
.pure figcaption,
.pure figure,
.pure footer,
.pure header,
.pure hgroup,
.pure main,
.pure nav,
.pure section,
.pure summary {
    display: block;
}
.pure audio,
.pure canvas,
.pure video {
    display: inline-block;
}
.pure audio:not([controls]) {
    display: none;
    height: 0;
}
.pure [hidden] {
    display: none;
}
.pure {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.pure,
.pure button,
.pure input,
.pure select,
.pure textarea {
    font-family: sans-serif;
}
.pure body {
    margin: 0;
}
.pure a:focus {
    outline: thin dotted;
}
.pure a:active,
.pure a:hover {
    outline: 0;
}
.pure h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.pure h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
.pure h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
.pure h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
.pure h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
.pure h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}
.pure abbr[title] {
    border-bottom: 1px dotted;
}
.pure b,
.pure strong {
    font-weight: bold;
}
.pure blockquote {
    margin: 1em 40px;
}
.pure dfn {
    font-style: italic;
}
.pure hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
.pure mark {
    background: #ff0;
    color: #000;
}
.pure p,
.pure pre {
    margin: 1em 0;
}
.pure code,
.pure kbd,
.pure pre,
.pure samp {
    font-family: monospace , serif;
    _font-family: 'courier new' , monospace;
    font-size: 1em;
}
.pure pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.pure q {
    quotes: none;
}
.pure q:before,
.pure q:after {
    content: '';
    content: none;
}
.pure small {
    font-size: 80%;
}
.pure sub,
.pure sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.pure sup {
    top: -0.5em;
}
.pure sub {
    bottom: -0.25em;
}
.pure dl,
.pure menu,
.pure ol,
.pure ul {
    margin: 1em 0;
}
.pure dd {
    margin: 0 0 0 40px;
}
.pure menu,
.pure ol,
.pure ul {
    padding: 0 0 0 40px;
}
.pure nav   ul,
.pure nav   ol {
    list-style: none;
    list-style-image: none;
}
.pure img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.pure svg:not(:root) {
    overflow: hidden;
}
.pure figure {
    margin: 0;
}
.pure form {
    margin: 0;
}
.pure fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
.pure legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
.pure button,
.pure input,
.pure select,
.pure textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
.pure button,
.pure input {
    line-height: normal;
}
.pure button,
.pure select {
    text-transform: none;
}
.pure button,
.pure input[type="button"],
.pure input[type="reset"],
.pure input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.pure button[disabled],
.pure input[disabled] {
    cursor: default;
}
.pure input[type="checkbox"],
.pure input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.pure input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.pure input[type="search"]::-webkit-search-cancel-button,
.pure input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pure button::-moz-focus-inner,
.pure input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.pure textarea {
    overflow: auto;
    vertical-align: top;
}
.pure table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
* CSS TABLES
* ==========
* Simple CSS for HTML Tables
* Author: tilomitra
*/

/* foundational CSS */

.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 6px 12px; /* cell padding */
}
.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0;
}

.pure-table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

/*
striping:
   even - #fff (white)
   odd  - #edf5ff (light blue)
*/
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom:1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child td,
.pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
/* --------------------------
 * Variables
 * --------------------------
*/
/* --------------------------
 * Mix-ins
 * --------------------------
*/
/* --------------------------
 * Added Styles
 * --------------------------
*/
body {
  color: #777;
  font-family: sans-serif;
  margin: 0; }

div#main.pure-u {
  background: #f5f4e8;
  -moz-box-shadow: inset 0px 2px 75px #a68a67;
  -webkit-box-shadow: inset 0px 2px 275px #a68a67;
  box-shadow: inset 0px 2px 75px #a68a67, 0px 10px 10px #a68a67;
  position: relative; }

#github {
  margin-bottom: 50px; }

.github-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9.6em; }

.experience {
  padding: 0; }

.octocat {
  display: block;
  height: 20%;
  margin: 15px auto;
  width: 20%; }

.l-box ul li {
  margin: 5px; }

/* Add transition to containers so they can push in and out */
#layout, #menu, .pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/* --------------------------
 * Element Styles
 * --------------------------
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #4b4b4b; }

a {
  text-decoration: none; }

.back-to-top {
  text-align: right; }

a.scroll-up {
  background: inherit;
  border: 1px solid #ddd;
  border-radius: .25em;
  color: #999;
  padding: .25em .5em; }
  a.scroll-up:hover {
    background: #0078E7;
    color: #fff;
    transition: .25s; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 10px 0; }

/* --------------------------
 * Layout Styles
 * --------------------------
*/
#layout {
  padding-left: 150px;
  /* left col width "#menu" */
  left: 0; }

#main {
  margin-bottom: 100px;
  width: 100%; }

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
  padding: 1.3em; }

.l-vbox {
  padding: 1.3em 0; }

.l-hbox {
  padding: 0 1.3em; }

.l-centered {
  text-align: center; }

/* --------------------------
 * Header Module Styles
 * --------------------------
*/
.header {
  min-height: 80px;
  margin: 0;
  color: #333;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #1f8dd6;
  /*     background: #fff;
  */ }

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300; }

.header h2 {
  font-weight: 300;
  margin: 0;
  color: #ccc; }

aside {
  background: #cce1ef;
  /* normal color palette when primary color palette is at #1f8dd6 */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #163246;
  /* block-normal-text-high */ }

.aside a, .aside a:visited {
  color: #1f8dd6; }

/* --------------------------
 * Content Module Styles
 * --------------------------
*/
/* The content div is placed as a wrapper around all the docs */
.content {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 50px; }

.content p {
  line-height: 1.6em;
  font-size: 115%; }

.content .content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888; }

.content .content-spaced {
  line-height: 1.8em; }

/* A code snippet that has been syntax highlighted */
.content .snippet {
  margin: 0;
  padding: 1.3em; }

.content .content-quote {
  font-family: "Georgia", serif;
  color: #666;
  font-style: italic;
  line-height: 1.8em;
  border-left: 5px solid #ddd;
  padding-left: 1.5em; }

/* --------------------------
 * Footer Module Styles
 * --------------------------
*/
.legal {
  font-size: 80%;
  border-top: 1px solid #eee;
  padding: 0.5em 0;
  background: #fafafa; }

.legal-license, .legal-copyright {
  margin: 0; }

.legal-copyright, .legal-links {
  text-align: right; }

.legal-links {
  list-style: none;
  margin: 0; }

.legal-logo {
  text-align: center; }

/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/
#menu {
  margin-left: -150px;
  /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 150px;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scroll: touch; }

#menu a {
  color: #999;
  border: none;
  white-space: normal;
  padding: 0.6em 0 0.6em 0.6em; }

#menu .pure-menu-open {
  background: transparent;
  border: 0; }

#menu .pure-menu ul {
  border: none;
  background: transparent; }

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333; }

#menu .pure-menu li a:hover {
  background: #333; }

.pure-menu-link {
  display: none;
  /* show this only on small screens */
  top: 0;
  left: 150px;
  /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.75em 1em; }

.pure-menu-link:hover {
  background: #000; }

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff; }

#menu .pure-menu-selected {
  background: #1f8dd6; }

#menu .pure-menu-selected a {
  color: white; }

#menu li.pure-menu-selected a:hover {
  background: none; }

.clearfix:before, :clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.nav-bar {
  margin-bottom: 50px;
  box-sizing: border-box;
  float: left;
  list-style-type: none;
  padding-left: 0;
  width: 100%; }

.bottom-decoration-container {
  background: red;
  bottom: 0px;
  position: absolute;
  width: 100%; }

.bottom-decoration {
  display: block;
  height: 2px;
  width: 100%; }

.nav-bar:before, .nav-bar:after {
  content: "";
  display: table; }

.nav-bar:after {
  clear: both; }

.color {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 16.66667%; }

.nav-bar__menu-link {
  background: inherit;
  color: white;
  float: left;
  line-height: 50px;
  margin: 0;
  text-align: center;
  width: 100%; }

.blue {
  background: #0e90d2; }

.purple {
  background: #8058a5; }

.green {
  background: #5eb95e; }

.red {
  background: #dd514c; }

.orange {
  background: #f37b1d; }

.yellow {
  background: #fad232; }

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #4c8fec url(../img/menu-icon.png) center; }

/* ---------------------
 * Smaller Module Styles
 * ---------------------
*/
/* example code blocks */
.example-snippet {
  margin: 2em 0;
  font-size: 85%; }

/* green call to action button class */
.notice {
  background-color: #61B842;
  color: white; }

.pure-button {
  font-family: inherit;
  color: auto; }

.muted {
  color: #ccc; }

/* --------------------------
 * Responsive Styles
 * --------------------------
*/
@media (max-width: 870px) {
  /* Navigation Push Styles */
  #layout {
    position: relative;
    padding-left: 0; }

  #layout.active {
    position: relative;
    left: 150px; }

  #layout.active #menu nav {
    left: 150px;
    width: 150px; }

  #menu {
    left: 0; }

  .pure-menu-link {
    position: fixed;
    left: 0;
    display: block; }

  #layout.active .pure-menu-link {
    left: 150px; }

  .nav-bar {
    height: auto;
    display: block; }

  .nav-bar li {
    display: block;
    float: left;
    width: 50%; }

  .nav-bar ul {
    width: 100%;
    display: block;
    height: auto; }

  .nav-bar__menu-link {
    width: 100%;
    float: left; } }
@media (max-width: 767px) {
  .content {
    width: 95%;
    font-size: 90%; }

  .legal-links {
    padding: 1em 0; }

  .legal-license, .legal-copyright, .legal-links, .legal-links li {
    text-align: center; }

  /* normalize paddings on small screens*/
  .l-hbox {
    padding: 1.3em; } }
p {
  line-height: 1.6em; }

.hero {
  text-align: center;
  margin: 8em 0 3em; }

.hero h1 {
  font-family: 'Graduate', cursive;
  font-size: 600%;
  margin: 0;
  padding: 0;
  color: #f37b1d;
  font-weight: 100; }

.hero h2 {
  font-weight: 100;
  font-size: 260%;
  margin: 0.02em 0 0.8em;
  color: #666; }

.hero-cta pre {
  font-size: 100%; }

a.pure-button-cta {
  font-size: 120%;
  background: #FCB94C;
  color: white;
  font-weight: bold; }

.size-chart {
  width: 100%; }

.size-chart-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.size-chart-base {
  background: #0e90d2; }

.size-chart-base span {
  color: #67c2f0; }

.size-chart-grids {
  background: #8058a5; }

.size-chart-grids span {
  color: #c883ff; }

.size-chart-forms {
  background: #5eb95e; }

.size-chart-forms span {
  color: #a1f089; }

.size-chart-buttons {
  background: #dd514c; }

.size-chart-buttons span {
  color: #eca49a; }

.size-chart-menus {
  background: #fad232; }

.size-chart-menus span {
  color: #fff086; }

.size-chart-tables {
  background: #f37b1d; }

.size-chart-tables span {
  color: #ffbe81; }

a.size-chart-label {
  display: block;
  color: #fff;
  height: 40px;
  padding: 0.5em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.size-chart-size {
  display: block; }

.marketing-ribbon {
  padding: 1em 0; }

.marketing-ribbon h3 {
  font-size: 1.47em;
  font-weight: normal; }

@media only screen and (max-width: 480px) {
  .nav-bar {
    border-bottom: 0;
    display: block; }

  .nav-bar li {
    width: 100%; }

  .nav-bar__menu-link {
    width: inherit; } }
@media (max-width: 767px) {
  .hero {
    margin: 2em 0 1.5em;
    padding: 0.6em; }

  .hero h1 {
    font-size: 250%;
    font-weight: 300;
    /* slightly thicker to compensate for font-size */ }

  .hero h2 {
    font-size: 165%; }

  /* by default l-hbox becomes padding: 1.3em; at <= 767px. However, this makes the heading
  too far away from the content, so adding this in here. */
  h3.l-hbox,
  p.l-hbox {
    padding: 0 1.3em; }

  a.size-chart-label {
    font-size: 0.75em;
    padding: 0.6667em; } }
/*
 * Baby Blue theme for RainbowJS
 *
 * @author tilomitra
 */
pre {
  word-wrap: break-word;
  padding: 6px 10;
  line-height: 1.3em;
  margin-bottom: 20;
  border: 1px solid #eee; }

code {
  border: none;
  margin: 0 2px;
  font-size: 0.8em;
  padding: 0.4em 0.6em; }

pre code {
  padding: 0;
  margin: 0;
  font-size: 0.95em; }

pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #fafafa; }

pre .comment {
  color: #999; }

pre .tag, pre .tag-name, pre .support.tag-name {
  color: #555555; }

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
  font-weight: bold; }

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
  color: #333; }

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
  font-weight: normal;
  color: #099; }

pre .attribute, pre .variable, pre .support {
  color: #757575;
  /* skinbuilder block-page-text-normal with #1f8dd6 as primary */ }

pre .string, pre .support.value {
  font-weight: normal;
  color: #3b8bba;
  /* skinbuilder block-mine-text-low with #1f8dd6 as primary */ }

.footer {
  background: #666;
  bottom: 0;
  color: white;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: -1; }
