/* --------------------------
 * Variables
 * --------------------------
*/

$nav-item-width: 100% / 6;
$orange: rgb(243, 123, 29);
$footer-height: 100px;

/* --------------------------
 * Mix-ins
 * --------------------------
*/

@mixin bottom-margin {
  margin-bottom: 50px;
}

/* --------------------------
 * Added Styles
 * --------------------------
*/
body {
  color: #777;
  font-family: sans-serif;
  margin: 0;
}

div#main.pure-u  {
  background: rgb(245, 244, 232);
  -moz-box-shadow: inset 0px 2px 75px #a68a67;
  -webkit-box-shadow: inset 0px 2px 275px #a68a67;
  box-shadow:inset 0px 2px 75px #a68a67, 0px 10px 10px #a68a67;
  position:relative;
}

.l-box ul li {
  margin: 5px;
}

.blue {
  background: #0e90d2;
}

.orange {
  background: $orange;
}

.sub-header {
  margin: 0;
  margin-left: 200px;
}

.top-stories {
  font-size: 22px;
  text-align: left;
}

.articles {
  list-style-type: none;
}

.articles-subclass {
  padding: 10px;
  vertical-align: top;
} 

.articles-subclass img {
  background: gray;
  display: inline-block;
  margin-right: 10px;
  min-width: 70px;
  vertical-align: top;
}

.article-title {
  display: inline-block;
  font-size: 20px;
  width:75%;
}

.bottom-decoration-container {
  background: red;
  bottom: 0px;
  position: absolute;
  width: 100%
}

.bottom-decoration {
  display: block;
  height: 6px;
  width: 100%;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

p {
    line-height: 1.6em;
}

.hero {
    text-align: center;
    margin: 8em 0 3em;
}
    .hero h1 {
        font-family: 'Trocchi', cursive;
        font-size: 600%;
        margin: 0;
        padding: 0;
        color: $orange;
        font-weight: 100;
    }

/* --------------------------
 * Layout Styles
 * --------------------------
*/

#layout, #menu, .pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#layout {
  padding-left: 150px; /* left col width "#menu" */
  left: 0;
}

#main {
  margin-bottom: $footer-height;
  width: 100%;
}

.l-box {
    padding: 1.3em;
}

/* --------------------------
 * Header Module Styles
 * --------------------------
*/

.header {
     min-height: 80px;
     margin: 0;
     color: #333;
     padding: 1em;
     text-align: center;
     border-bottom: 1px solid #1f8dd6;
}

 /* --------------------------
  * Content Module Styles
  * --------------------------
 */

.content {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 100px;
}
    .content p {
        line-height: 1.6em;
        font-size: 115%;
    }

/* --------------------------
 * Footer Module Styles
 * --------------------------
*/

.legal {
    font-size: 80%;
    border-top: 1px solid #eee;
    padding: 0.5em 0;
    background: rgb(250, 250, 250);
}

    .legal-license, .legal-copyright {
        margin: 0;
    }

    .legal-copyright, .legal-links {
        text-align: right;
    }

.footer {
  background: gray;
  bottom: 0;
  color: white;
  height: $footer-height;
  position: fixed;
  width: 100%;
  z-index: -1;
}

/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media (max-width: 870px) {

    #layout {
        position: relative;
        padding-left: 0;
    }
        #layout.active {
            position: relative;
            left: 150px;
        }

            #layout.active #menu nav {
                left: 150px;
                width: 150px;
            }

    #layout.active .pure-menu-link {
        left: 150px;
    }
}

@media (max-width: 767px) {

    .content {
      width: 95%;
      font-size: 90%;
    }

    .legal-license, .legal-copyright li {
      text-align: center;
    }
}

@media (max-width: 767px) {
    .hero {
        margin: 2em 0 1.5em;
        padding: 0.6em;
    }
        .hero h1 {
            font-size: 250%;
            font-weight: 300; /* slightly thicker to compensate for font-size */
        }
    p.l-hbox {
        padding: 0 1.3em;
    }
}